.pageLayOut{
    margin-left: 78px;
    padding-top: 60px;
    // margin-top: 60px;
    height: 100px;
}

.hithere{
 
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

.Iam{
//     width: 554px;
//   height: 83px;
//   margin: 242px 92px 0 76px;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}

.IamS{
    //     width: 554px;
    //   height: 83px;
    //   margin: 242px 92px 0 76px;
      font-family: Poppins;
      font-size: 55px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff4747;
    }

.ask-me-how{
  width: 208px;
  height: 56px;
  border-radius: 35px;
  background-color: #ff4747;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.myLogodiv{
    width: 480px;
    height: 623px;
}

.email{
    font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}

.myemail{
    width: 320px;
    // background-color: #ff4747;
    font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  margin-top: 1px;
}

.line-2{
    width: 3px;
    height: 50px;
    // margin: 64px 54px 78px 45px;
    // transform: rotate(90deg);
    background-color: #eee;
}

.sub-head{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}

.main-head{
  font-family: Poppins;
  font-size: 43px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

.whoAmI{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff4747;
}

.Im-neth{
    width: 90%;
    // background-color: #ff4747;
    font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.myDis{
    width: 90%;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #606060;
}