.pageLayOut{
    margin-left: 78px;
    padding-top: 60px;
    // margin-top: 60px;
    height: 100px;
}

.hithere{
 
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.hithere.light{
  transition-duration: $td;
  color: $LightHederFont;
}
.hithere.dark{
  transition-duration: $td;
  color: $DarkHederFont;

}
.Iam{
//     width: 554px;
//   height: 83px;
//   margin: 242px 92px 0 76px;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.Iam.light{
  transition-duration: $td;
  color: $LightHederFont;

}
.Iam.dark{
  transition-duration: $td;
  color: $DarkHederFont;

}

.IamS{
    //     width: 554px;
    //   height: 83px;
    //   margin: 242px 92px 0 76px;
      font-family: Poppins;
      font-size: 55px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ff4747;
    }

    .position{
      font-family: Poppins;
      font-size: 40px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #404040;
    }

.position.light{
  transition-duration: $td;
  color: $LightcontentText;

}
.position.dark{
  transition-duration: $td;
  color: $DarkcontentText;

}

.ask-me-how{
  width: 208px;
  height: 56px;
  border-radius: 35px;
  background-color: #ff4747;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;


}

.ask-me-how:hover {
  transition-duration: 300ms;
  box-shadow: 0 0 10px 0 #fd3c3c inset, 0 0 20px 2px #ff3d3d;
  border: 3px solid #fa2727;
}

.myLogodiv{
    width: 480px;
    height: 623px;
}

.email{
    font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}

.myemail{
    width: 320px;
    // background-color: #ff4747;
    font-family: Poppins;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  margin-top: 1px;

  @media #{$md-layout}  {
    width: 200px;
  }

}
.email.light{
  transition-duration: $td;
  color: $LightcontentText;

}
.email.dark{
  transition-duration: $td;
  color: $DarkcontentText;

}
.myemail.light{
  transition-duration: $td;
  color: $LightcontentText;

}
.myemail.dark{
  transition-duration: $td;
  color: $DarkcontentText;

}

.line-2{
    width: 3px;
    height: 50px;
    // margin: 64px 54px 78px 45px;
    // transform: rotate(90deg);
}

.line-2.light{
  transition-duration: $td;
  background-color: $LightLineColor;
}
.line-2.dark{
  transition-duration: $td;
  background-color: $DarkLineColor;
}

.sub-head{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}
.sub-head.dark{
  transition-duration: $td;
  color: $DarkcontentText;

}
.sub-head.light{
  transition-duration: $td;
  color: $LightcontentText;

}

.main-head{
  font-family: Poppins;
  font-size: 43px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.main-head.dark{
  transition-duration: $td;
  color: $DarkHederFont;

}
.main-head.light{
  transition-duration: $td;
  color: $LightHederFont;

}

.whoAmI{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff4747;
}

.Im-neth{
    width: 90%;
    // background-color: #ff4747;
    font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
 
}
.Im-neth.dark{
  transition-duration: $td;
  color: $DarkHederFont;

}
.Im-neth.light{
  transition-duration: $td;
  color: $LightHederFont;

}

.myDis{
    width: 90%;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #606060;
}
.myDis.dark{
  transition-duration: $td;
  color: $DarkcontentText;

}
.myDis.light{
  transition-duration: $td;
  color: $LightcontentText;

}

.pageBG.light{
  transition-duration: $td;
  background-color: $LightBG;
}

.pageBG.dark{
  transition-duration: $td;
  background-color:$DarkBG;
}