.navBar{

    background-color: #ffffff;
    margin-left: 78px;
    position: fixed;
    width: 100%;
    padding-top: 15px;
    height: 60px;
    top: 0;
    z-index: 999;
}

.navBar.light{
  transition-duration: $td;
  background-color: $LightBG;
}

.navBar.dark{
  transition-duration: $td;
  background-color: $DarkBG;
}

.nabBarButn{
    // background-color: aqua;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  // color: $LightHederFont;
}

.nabBarButn.light{
  transition-duration: $td;
  color: $LightHederFont;
}

.nabBarButn.dark{
  transition-duration: $td;
  color: $DarkHederFont;
}

.nabBarcallButn{
 font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff4747;
}

.callLogo{
    color: #ff4747;
    // margin-left: 550px;
}