@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$Poppins: "Poppins", sans-serif;


// in light modd
$LightHederFont: #292a31;
$LightcontentText:#5d5f6c;
$LightBG:#ffffff;
$LightLineColor:#eee;


//in dark mood
$DarkHederFont: #f1f0f0;
$DarkcontentText:#d4d4d4;
$DarkBG:#2c2c2c;
$DarkLineColor:rgb(88, 88, 88);


//transition-duration
$td: 500ms;

$backgroundGrey:#f6f7fb;
$m1Color:#30d270;
$greyOne:#5a5c6a;

// Responsive Variables




    //   'mobileS': {'min': '300px', 'max': '319px'},
    //   'mobileM': {'min': '320px', 'max': '374px'},
    //   'mobileL': {'min': '375px', 'max': '424px'},
    //   'tabs': {'min': '425px', 'max': '639px'},
    //   'sm': {'min': '640px', 'max': '767px'},
    //   'md': {'min': '768px', 'max': '1023px'},
    //   'lg': {'min': '1024px', 'max': '1279px'},
    //   'xl': {'min': '1280px', 'max': '1535px'},
    //   '2xl': {'min': '1536px'},

   
$xxl-layout: "only screen and (min-width: 1536px)";
$xl-layout: "only screen and (min-width: 1280px) and (max-width: 1535px)";
$lg-layout: "only screen and (min-width: 1024px) and (max-width: 1279px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 1023px)";


$sm-layout: "only screen and (min-width: 640px) and (max-width: 767px)";

$xs-layout: "only screen and (max-width: 768px)";

$tabs-layout: "only screen and (min-width: 425px) and (max-width: 639px)";
$mobileL-layout: "only screen and (min-width: 375px) and (max-width: 424px)";
$mobileM-layout: "only screen and (min-width: 320px) and (max-width: 374px)";
$mobileS-layout: "only screen and (min-width: 300px) and (max-width: 319px)";
